html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

#root {
    min-height: 100vh; 
    display: flex;
    flex-direction: column;
    background: #171717;
}
.no-border {
    border: none;
    box-shadow: none;
}
@keyframes slide-in-right {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(0);
    }
}

.slide-in {
    animation: slide-in-right 0.5s forwards;
}
.boxShadow{
    box-shadow: 0 3px 20px #0052FD;
    box-shadow: #0052FD 0px 5px 12px 2px, #0052FD 0px 0px 7px 7px;
}